@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0px;
}

#page-container {
    width: 100%;
}


/* HEADER */

#header {
    display: block;
    width: 100%;
    height: 100vh;
    background: #ffda55;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-pop-up-top {
    color: #fff;
    font-size: 170px;
    font-family: 'Roboto', sans-serif;
	animation: text-pop-up-top 1.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header .arrow-down {
    color: #fff;
    font-size: 100px;
    text-shadow: #cab156 0px 10px 10px;
    animation: up-down 1s alternate infinite;
    cursor: pointer;
}

.header-separator {
    fill: #ffda55;
    z-index: 2;
    stroke: #cab156;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10px;
    stroke-dasharray: 2250px;
    stroke-dashoffset: 285px;
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cab156, 0 2px 0 #cab156, 0 3px 0 #cab156, 0 4px 0 #cab156, 0 5px 0 #cab156, 0 6px 0 #cab156, 0 7px 0 #cab156, 0 8px 0 #cab156, 0 9px 0 #cab156, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(30px);
    }
}

.svg-container {
    position: absolute;
    width: 200px;
    height: 200px;
}

.svg-logo {
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10px;
    stroke-dasharray: 3110px;
    stroke-dashoffset: 3110px;
    animation: logo-svg-anim 4s ease-in-out;
}

@keyframes logo-svg-anim {
    0% {
        stroke-dashoffset: 3110px;
    } 30% {
        stroke-dashoffset: 0px;
    } 70% {
        stroke-dashoffset: 0px;
    } 100% {
        stroke-dashoffset: 3110px;
    }
}



/* FIRST CONTENT */

#firstContent {
    display: block;
    height: 50vh;
}

.paragraph-container {
    display: inline-flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
}

.image-container {
    width: 50%;
}

.image-container img {
    border-radius: 10px;
    width: 80%;
}

.text-container span {
    font-size: 50px;
    text-align: left;
    font-weight: 600;
}

.text-container span::before {
    content: '';
    position: absolute;
    background: #ffda55;
    width: 60px;
    height: 5px;
    transform: translateY(60px);
    border-radius: 10px;
}

.text-container {
    width: 50%;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.text-container h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#firstContent .text-container::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 5px;
    background: #ffda55;
    border-radius: 10px;
    transform: translateY(-50px);
    animation: line-loop 20s ease-in-out infinite;
}

@keyframes line-loop {
    0% {
        width: 10%;
    } 50% {
        width: 40%;
        transform: translate(-20%, -50px);
    } 100% {
        width: 10%;
    }
}