@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7B400;
}

body::-webkit-scrollbar {
    width: 0px;
}

#page-container {
    width: 100%;
}


/* HEADER */

#header {
    display: block;
    width: 100%;
    height: 100vh;
    background: #ffda55;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-pop-up-top {
    color: #fff;
    font-size: 17vh;
    font-family: 'Roboto', sans-serif;
	animation: text-pop-up-top 1.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#header .arrow-down {
    color: #fff;
    font-size: 13vh;
    text-shadow: #cab156 0px 10px 10px;
    animation: up-down 1s alternate infinite;
    cursor: pointer;
}

.header-separator {
    fill: #ffda55;
    z-index: 2;
    stroke: #cab156;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10px;
    stroke-dasharray: 2250px;
    stroke-dashoffset: 285px;
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cab156, 0 2px 0 #cab156, 0 3px 0 #cab156, 0 4px 0 #cab156, 0 5px 0 #cab156, 0 6px 0 #cab156, 0 7px 0 #cab156, 0 8px 0 #cab156, 0 9px 0 #cab156, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(30px);
    }
}

.svg-container {
    position: absolute;
    width: 20vh;
    height: 20vh;
}

.svg-logo {
    stroke: #fff;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10px;
    stroke-dasharray: 3110px;
    stroke-dashoffset: 3110px;
    animation: logo-svg-anim 4s ease-in-out;
}

@keyframes logo-svg-anim {
    0% {
        stroke-dashoffset: 3110px;
    } 30% {
        stroke-dashoffset: 0px;
    } 70% {
        stroke-dashoffset: 0px;
    } 100% {
        stroke-dashoffset: 3110px;
    }
}



/* FIRST CONTENT */

#firstContent {
    position: relative;
    display: block;
    height: 100vh;
}

.bubbles-bg {
    position: absolute;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 5vh;
}

.bubbles-bg :nth-child(1) { animation: bubble2 5s infinite ease-in-out alternate; }
.bubbles-bg :nth-child(2) { animation: bubble1 4s infinite ease-in-out alternate; }
.bubbles-bg :nth-child(3) { animation: bubble1 6s infinite ease-in-out alternate 2s; }
.bubbles-bg :nth-child(4) { animation: bubble2 4s infinite ease-in-out alternate 3s; }

@keyframes bubble1 {
    from {
        transform-origin: center;
        transform: translate(0, 0);
    } to {
        transform: translate(10px, 30px);
    }
}

@keyframes bubble2 {
    from {
        transform-origin: center;
        transform: translate(0, 0);
    } to {
        transform: translate(-20px, 10px);
    }
}

/* menu selector */

.menu-selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 30px;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);

    justify-content: space-between;
}

.menu-selector span {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 10px 5px #FFE607;
    border: solid rgba(255, 255, 255, 0.5) 3px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) .5s;
}

.menu-selector span:hover { 
    cursor: pointer;
}

.menu-selector span.active {
    height: 50px;
    border-radius: 50px;
    background-color: #FFE607;
    box-shadow: 0 0 30px 10px #FFE607;
    border: solid rgba(255, 255, 255, 0.5) 3px;
}

/* text descrition */

.text-container {
    position: absolute;
    width: 60%;
    height: 60%;
    /* background-color: red; */

    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.text-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.descrition-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
    padding: 5% 20% 0 20%;
    overflow: hidden;
}

.descrition-container .date {
    transform: translateX(-5%);
    font-size: 7vh;
    margin-bottom: 7%;
}

.descrition-container .descrition {
    font-size: 3vh;
    text-align: center;
}